<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="Guru99BankSuite">

    <listeners>

        <listener class-name=
        "Listeners.TestListener"/>

    </listeners>

    <test name="Guru99 Tests">

        <classes>

            <class name=
            "TestCases.LoginTest"/>

            <class name=
            "TestCases.CustomerTest"/>

            <class name=
            "TestCases.AccountTest"/>

            <class name=
            "TestCases.DepositTest"/>

            <class name=
            "TestCases.WithdrawalTest"/>

            <class name=
            "TestCases.FundTransferTest"/>

        </classes>

    </test>

</suite>